/* LIGHT THEME */
.light .projects {
  background-color: #1C1C1C;
  color: #CCCCCC;
}

/* DEFAULT */
.projects {
  background-color: #F0F0F0;
  color: #383A42;
  display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  font-size: 20px;
  letter-spacing: 12px;
  padding: 5rem 1rem 8rem 1rem;
}

.projects .title {
  margin-bottom: 1rem;
}

.projects .preview-box {
  display: flex;
    align-items: center;
    flex-direction: column;
}

.projects .project-title {
  font-size: 19px;
  letter-spacing: normal;
  text-align: center;
}

.projects .preview-img {
  border: solid 1px #F0F0F0;
  height: 205px;
  margin: 1rem auto;
  width: 280px;
}

.projects .subheading {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: normal;
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}

.projects .buttons {
  display: flex;
  gap: 1rem;
    justify-content: center;
}

.projects .buttons button {
  background-color: #C0C0C0;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  height: 24px;
  width: 90px;
}

.projects .buttons button:hover {
  filter: invert(80%);
}

@media screen and (min-width: 700px) {

  .projects {
    gap: 7rem;
  }

  .projects .preview-img {
    height: 366px;
    width: 500px;
  }

  .projects .subheading {
    margin: 1.5rem 0;
    width: 550px;
  }

}

@media screen and (min-width: 1200px) {

  .projects {
    flex-flow: row wrap;
    justify-content: center;
  }

  .projects .title {
    flex-basis: 100%;
    text-align: center;
  }

}