/* LIGHT MODE STYLES */
.navbar.light {
  background-color: #F0F0F0;
  color: #383A42;
}

.navbar.light li:nth-child(1){
  color: #4078F2;
}

.navbar.light li:nth-child(2) {
  color: #E4564A;
}

.navbar.light li:nth-child(3) {
  color: #A626A4;
}

.navbar.light li:nth-child(4) {
  color: #0084BC;
}

/* DEFAULT STYLES */
.navbar {
  background-color: #1c1c1c;
  color: #cccccc;
  font-family: Consolas, monaco, monospace;
}

.navbar ul {
  display: none;
}

.navbar li:nth-child(1){
  color: #FD9720;
}

.navbar li:nth-child(2) {
  color: #F92672;
}

.navbar li:nth-child(3) {
  color: #32E78D;
}

.navbar li:nth-child(4) {
  color: #49E0FD;
}

@media screen and (min-width: 900px) {
  .navbar {
    display: flex;
  }

  .navbar ul {
    display: flex;
      align-items: center;
    list-style: none;
    margin-left: auto;
    margin-right: 3rem;
  }

  .navbar li {
    cursor: pointer;
    padding: 2rem 1.5rem;
    transition: transform 0.2s ease-in-out; 
  }

  .navbar li:hover {
    transform: scale(1.1); 
  }

}