@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/* DEFAULT STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* html, body, #root, .App {
  height: 100%;
} */

.App {
  background-color: #1C1C1C;
  color: #CCCCCC;
  display: flex;
    flex-direction: column;
}

.App * {
  font-family: Consolas, monaco, monospace;;
}

/* LIGHT MODE */

.App.light {
  background-color: #F0F0F0;
  color: #383A42;
}